
  @import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

  $main-font: 'Sen', sans-serif;
  $main-font-color: #4c4c4c;
  $theme-color-one: rgba(255,166,166,1);
  $theme-color-two: rgba(255,204,123,1);
  $theme-gradient: linear-gradient(90deg, rgba(255,166,166,1) 0%,  rgba(255,204,123,1)100%);
  $max-page-width: 1600px;