.searchbar{
    width: 50%;
    display: flex;
    border: 1px solid rgb(255 204 123);
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;

    input {
        width: 100%;
        border: none;
    }

    input:focus {
        outline: none;
    }


}

